// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-form {
  width: 20%;
  padding: 1%;
  margin: auto;
  background: #f0f0f0;
  border-radius: 10px;
}

.product-feature {
  width: 35%;
  margin: auto;
  padding: 1%;
  background: #f0f0f0;
  font-weight: 300;
  color: #aaaaaa;
  font-size: 20px;
  border-radius: 10px;
}

.product-feature strong {
  font-weight: 400;
  color: #666666;
  font-size: 24px;
}

.product-list {
  background: #f0f0f0;
  border-radius: 10px;
  margin: auto;
}

.product-list thead {
  text-transform: uppercase;
  font-weight: 600;
}