<h1>Features of Product</h1>

<div class="product-feature">
  <p>
    <strong>Title </strong>
    <%= @product.title %>
  </p>

  <p>
    <strong>Description </strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price </strong>
    <%= @product.price %> TL
  </p>

  <p>
    <strong>User </strong>
    <%= @product.user.username %>
  </p>
</div>